//分页器公共样式
.el-pagination {
  .el-pager {
    li {
      border: 1px solid #e9eaef !important;
      border-radius: 2px !important;
      margin: 0 4px !important;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      font-size: 12px;
      color: rgba(20, 37, 62, 0.85);

      &:hover {
        color: #1e42ed !important;
      }
    }
    li.active {
      color: #1e42ed !important;
      border: 1px solid #1e42ed !important;
      border-radius: 2px !important;
    }

    .btn-prev,
    .btn-next {
      width: 30px;
      border: 1px solid #e9eaef !important;
      border-radius: 2px !important;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      font-size: 12px;
      color: rgba(20, 37, 62, 0.85);

      &:hover {
        color: #1e42ed !important;
      }
    }

    .btn-next {
      width: 30px;
      border: 1px solid #e9eaef !important;
      border-radius: 2px !important;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      font-size: 12px;
      color: rgba(20, 37, 62, 0.85);
      padding-left: 6px !important;

      &:hover {
        color: #1e42ed !important;
      }
    }
  }
}

//地址样式字体
.specialFont {
  font-weight: bold;
  font-size: 12px;
  color: #5671f2 !important;
  line-height: 18px;
  cursor: pointer;
  white-space: nowrap;
}
.specialFont:hover {
  color: #6e85f7 !important;
  text-decoration: underline;
}


//列表眼睛
.tableEyeBackground {
  width: 20px;
  height: 20px;
  background: #e9eaef;
  border-radius: 4px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover{
    background: #D5D5E6;
  }
  img{
    padding: 6px;
  }
}
//交易类型
.dealType {
  font-weight: 400;
  font-size: 12px;
  color: rgba(20, 37, 62, 0.65);
  line-height: 20px;
  background: #f8f9fa;
  border: 1px solid #e9eaef;
  border-radius: 2px;
  padding: 0 4px;
  width: 56px;
}

//message样式
.el-message--warning,
.el-message--error,
.el-message--info,
.el-message--success {
  background: #ffffff !important;
  border: none !important;
}
.el-message {
  padding: 8px 16px !important;
  height: 36px;
  min-width: 236px !important;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.el-message__content {
  font-weight: 400;
  font-size: 12px !important;
  color: rgba(20, 37, 62, 0.85) !important;
}

//详细信息基础样式
.messageBasic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .column {
    white-space: nowrap;
    > span {
      height: 18px;
      font-size: 12px;
      color: rgba(20, 37, 62, 0.85);
      line-height: 18px;
    }
    > p {
      padding: 4px 0;
      width: 116px;
      display: inline-block;
      font-size: 12px;
      color: rgba(20, 37, 62, 0.85);
      line-height: 20px;
    }
  }
}

//弹出层
.popoverBox {
  width: 214px;
  height: 330px;
  display: flex;
  flex-direction: column;
  font-size: 12px !important;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.85);
  .detailBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #5671f2;
    cursor: pointer;
  }
  .popStatus {
    > div {
      display: flex;
      align-items: center;
      > img {
        width: 14px;
        height: 14px;
        margin: 0 5px;
      }
      span:last-child{
        margin-left: 6px;
        color: rgba(0, 0, 0, 0.25)
      }
    }
  }
  &_title{
    height: 28px;
    line-height: 28px;
  }
}

.el-divider--horizontal{
  margin: 12px 0 !important;
}

//表格行样式
.tableRowStyle {
  font-weight: bold;
  font-size: 12px;
  color: rgba(20, 37, 62, 0.45);
  height: 78px;
  .cell {
    padding: 0 16px !important;
  }
}

//表格头部基本样式
.tableHeaderCellStyle {
  padding: 0 !important;
  height: 31px !important;
  line-height: 31px !important;
  background: #f8fafb !important;
  .cell {
    color: rgba(20, 37, 62, 0.45);
    font-size: 12px;
    padding: 0 16px !important;
    white-space: nowrap !important;
    line-height: 24px !important;
  }
}


//loading 样式
.el-loading-spinner .path {
  stroke:#1F40EC !important;
}

/* 文字提示弹窗样式 */
.circulateTooltipStyle {
  width: 250px;
  height: 100px;
  padding: 7px 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}


//交易类型表格行内样式
.table_txHash {
  position: relative;
  white-space: nowrap;
  text-align: left;
  width: 180px;

  > img {
    left: 0;
  }
}

.table_txOperate {
  height: 20px;
  line-height: 20px;
  background: #f8f9fa;
  border: 1px solid #e9eaef;
  border-radius: 2px;
}

.table_txfail {
  width: 29px;
  height: 16px;
  background: #f8f9fa;
  border: 1px solid #e9eaef;
  border-radius: 2px;
  padding: 0 4px;
  white-space: nowrap;
}